body {
	background-color: #232323;
	margin: 0;
	font-family: system-ui;
}

h1 {
	color: white;
	text-align: center;
	line-height: 1.1;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0px;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1 px;
	font-size: inherit;
	transition: all 0.3s;
	--moz-transition: all 0.3s;
	--moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color:white;
	background: steelblue;
}


.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.3s;
	--webkit-transition: background 0.3s;
	--moz-transition: background 0.3s;
}

.selected {
	color:white;
	background: steelblue;
}

#container {
	margin: 10px auto 30px auto;
	max-width: 600px;
}

.stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

#messagebar {
	background: #232323;
	height: 8px;
	text-align: center;
	color: white;
}

#colorDisplay {
	font-size: 200%;
}

#empty {
	display: inline-block;
	width: 25%;
}
#message {
	text-transform: uppercase;
}

#dance {
	display: inline-block;
}

.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 15px;
	margin-top: 80px;
	position: absolute;
	bottom: 10px;
}


.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}


@media (max-width: 600px) {

	#colorDisplay{
		font-size: 130%;
	}

	h1 {
		padding: 20% 0;
	}

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}